h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}
p::selection {
  background-color: rgb(66, 66, 66);
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-paddint-inline: 13%;
  --footer-padding-inline: 13%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", serif;
}
.container {
  padding: 0 var(--container-paddint-inline);
}

.title {
  color: var(--dark-color);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  span {
    position: relative;
  }
  span::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    display: block;
    width: 75px;
    height: 2px;
    background-color: black;
  }
}

.promo {
  position: relative;
  min-height: 100vh;
  background: url(../img/main_bg.jpg) center center / cover no-repeat;
  padding-top: 75px;
}

.promo-title {
  color: var(--light-color);
  font-family: Inter;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo-subtitle {
  margin-top: 125px;
  color: var(--light-color);
  font-size: 32px;
  font-weight: 100;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 20px;
  margin-top: 20px;
  width: 160px;
  min-height: 38px;
  border: 1px solid var(--light-color);
  background: rgba(217, 217, 217, 0);
  cursor: pointer;
  transition: all 0.3s ease-out;

  color: var(--light-color);
  font-size: 16px;
  font-weight: 100;
  text-decoration: none;

  &:hover {
    font-weight: 500;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
  }
}

.promo-address {
  position: relative;
  margin-top: 100px;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 100;
  line-height: normal;

  address {
    font-style: normal;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  &::before {
    position: absolute;
    left: -45px;
    top: -17px;
    content: "";
    width: 40px;
    display: block;
    height: 49px;
    background: url(../icon/arrow.svg) center center / cover no-repeat;
  }
}

.keywords {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0 360px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  li {
    list-style-type: none;
    color: var(--light-color);
    font-size: 10px;
    font-weight: 100;
    line-height: normal;
  }
}

.about {
  padding-top: 80px;
  background-color: var(--light-color);
}

.about-title {
  color: var(--dark-color);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.about-text {
  width: 1053px;
  padding-top: 20px;
  color: var(--dark-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  span {
    color: #a5a5a5;
  }
}

.service {
  display: flex;
  column-gap: 10px;
  margin-top: 80px;
}

.service-item {
  width: 50%;
  ul {
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
  }
  li {
    margin-top: 10px;
    position: relative;
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:first-child::before {
      display: block;
      position: absolute;
      content: "";
      left: -30px;
      top: 2px;
      background: url("../icon/camera.svg") center center / cover no-repeat;
      width: 15px;
      height: 15px;
    }
    &:nth-child(3)::before {
      display: block;
      position: absolute;
      content: "";
      left: -30px;
      top: 2px;
      background: url("../icon/edit.svg") center center / cover no-repeat;
      width: 15px;
      height: 15px;
    }
  }
}

.service-text {
  width: 50%;
  color: var(--dark-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.services-item_subtitle {
  color: var(--dark-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.works {
  padding-top: 80px;
  background-color: var(--light-color);
}

.workd-grid {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 1.5fr;
  column-gap: 30px;
  row-gap: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}
.inspitarion {
  padding-top: 80px;
  background-color: var(--light-color);
}
.inspiration-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 50px;
  img {
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}
#tenement {
  grid-row: 1/3;
  grid-column: 4/5;
}

#sky {
  grid-column: 2/4;
}

.costomers {
  padding: 80px 0 100px 0;
  background-color: var(--light-color);
}

.costumer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  img {
    margin-top: 53px;
    width: calc((100% - 90px) / 4);
    box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 88px var(--footer-padding-inline);
  background-color: black;

  color: var(--light-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-addr {
  font-style: normal;
}
.footer-tel {
  color: var(--light-color);
  text-decoration: none;
}

.footer-social {
  display: flex;

  list-style: none;
  padding: 0;
  gap: 0 30px;
  li {
    width: 32px;
    height: 32px;
    border: 2px var(--light-color) solid;

    a {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
